* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background: url(https://cdn.escharts.com/uploads/public/61f/94c/4a0/61f94c4a0d4d5728596421.jpg);
  display: grid;
  place-items: center;
}

form {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  gap: 1.5rem;
  color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

.input-container {
  position: relative;
}

input,
button {
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  max-width: 300px;
}

button {
  background-color: #e91e63;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 300ms;
}

button:hover {
  background-color: #ec407a;
}

button:active {
  background-color: white;
  color: #e91e63;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

input:focus {
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

.input-container i {
  font-size: 1.25rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

span {
  font-size: 0.875rem;
  text-align: center;
}

a {
  color: inherit;
}

.error-span {
  color: #b71c1c;
}
